{{#> popup/backdrop}}
{{#> cards/cards cardLink="./chat.hbs" secondCardClasses="second-card-with-img" cardsClasses="flex-markup flex-markup--column error-modal" srcIconCard="../assets/back.svg" }}
<img src={{imageSrc}} />
<p class="error-modal-text">{{errorText}}</p>
{{/ cards/cards}}
{{/ popup/backdrop}}