---
title: Home page
stylesheet:
- index.css
- ../components/popup/styles.css
- ../components/cards/styles.css
- ../components/iconButton/styles.css
- ../components/errorModal/styles.css
- profileEdit.css
---

{{!< baseLayout}}

<main>
  {{> errorModal/errorModal imageSrc="../assets/500.svg" errorText="К сожалению, сервис не доступен"  }}
</main>