---
title: Home page
stylesheet:
- index.css
- ../components/popup/styles.css
- ../components/cards/styles.css
- ../components/input/styles.css
- ../components/form/styles.css
- ../components/signUpPopup/styles.css
---

{{!< baseLayout}}

<main>
  {{> signUpPopup/signUpPopup}}
</main>