---
title: Home page
stylesheet:
- index.css
- ../components/popup/styles.css
- ../components/cards/styles.css
- ../components/input/styles.css
- ../components/form/styles.css
- ../components/signInPopup/styles.css
---

{{!< baseLayout}}
{{!-- {{#content "main"}} --}}
<main>
  {{!-- {{> button classes="btn btn__dark"}} --}}
  {{> signInPopup/signInPopup}}
</main>
{{!-- {{/content}}
{{/extend}} --}}