{{#if fieldTitle}}<p class="data-profile-text data-profile-title">{{fieldTitle}}</p>{{/if}}

{{> input/input inputWrapClasses="data-profile-input-callapse data-profile-input-wrapper hidden" inputClasses="data-profile-content data-profile-full-width" type=type
name=name placeholder=placeholder value=value }}

<p class="{{valueClasses}} data-profile-text data-profile-content data-profile-full-width" id="profile-item-text">
  {{value}}</p>